%h1 Super Shopper

%form{action: carts_url, method: :post}
  - @items.each do |item|
    =item.name
    %input{name: "#{controller.item_prefix}#{item.id}", value: 0}
    %br
  %input{type: :submit, value: "Submit"}
